body {
    position: relative;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
}

.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
}

.greybg {
    background-color: grey;
}

.whitebg {
    background-color: white;
}

.row {
    margin: 0;
}

.toolbar {
    font-size: 2.5vh;
    padding: 2.75vh 0;
    height: 8vh;
}

.toolbar div i,
.toolbar div span {
    display: inline-block;
    width: 33.33333333%;
    text-align: center;
}

.content {
    background-color: white;
    height: 92vh;
    padding: 2vh 4vh;
}

.annotator-adder {
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    background: grey;
    padding: 1.5vh 3vh;
    color: white;
    text-align: center;
}

.annotator-adder i {
    cursor: pointer;
    font-size: 3vh;
    width: 80px;
    display: inline-block;
    color: #fff;
}

.annotator-wrapper .annotator-editor {
    z-index: 9999;
}

.annotator-wrapper .annotator-editor .annotator-controls div {
    padding: 7px;
    cursor: pointer;
}